@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;

}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    /* border: 2px solid green; */
}

/* **************************************header***************************************** */

.header{
    width: 100%;
    height: 13%;
    background-color: black;

   
    /* border: 2px solid red; */
}

.logo{
    font-size: 1.5rem;
    height: 131%;
    width: 9%;
    margin-left: 10px;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 100%;
}

.navbar .navbar-list{
    display: flex;
    gap: 3rem;
    list-style: none;
    
}

.navbar .navbar-list .navbar-links{
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: rgba(248, 250, 252, 0.936);
    display: inline-block;
    
    
}

.header-buttons{
    display: flex;
    gap: 2rem;
    color: aliceblue;
}

.header-buttons i{
    font-size: 1.2rem;
    cursor: pointer;
}

.searchbox{
    /* border: 2px solid red; */
    width: 100%;
    transform: translateY(-400%);
    transition: all 0.3s linear;
    opacity: 0;
    visibility: hidden;
}

.searchbox .searchbox_content{
    margin: 20px auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbox .searchbox_content input{
    width: 90%;
    height: 40px;
    font-size: 1.5rem;  
    padding: 1.2rem;
}

.searchbox .searchbox_content button{
    width: 10%;
    height: 40px;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbox-active{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.navbar .navbar-list .navbar-links:hover{
    color: #24262b;
    background-color: #ffffff;
    border-radius: 8px;
}
.header-buttons i:hover{
    color: #24262b;
    background-color: gold;    
}
.header-buttons i{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 225, 225, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5 ease;
}
/*---responsive---*/
@media screen and (max-width: 768px) {
    .navbar{
        width: 50%;
      display: none;
      flex-direction: column;
      padding: 10px;
    }
  
    .navbar-list{
      display: block;
    }
  }



/*////////////////// Footer start///////////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}
.footer{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15x;
}

.footer-col h2{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;

}
.footer-col h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
    
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-link a{
    display: flex;
    size: 30px;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 225, 225, 0.2);
    margin: 0 10px 10px 0;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5 ease;
    
} 
.fab{
    font-size: 25px;
}
.social-target{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.social-link{
    display: flex;
}


.footer-col .social-link a:hover{
    color: #24262b;
    background-color: #ffffff;

}
.payment{
    display: flex;
}
.pay{
    padding: 4px;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 575px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

/* //////////////////////////Footer End/////////////////////////////` */

